<!DOCTYPE html>
<html lang="en">
{{partial "head" .}}
<body>
    {{partial "header-single" .}}
    <section class="envion-intro parallax">
        <div class="overlay pb-5">
            <div class="container">
                {{range $index, $val := .Site.Taxonomies.tags.environment}}
                <h2 class="text-center">{{.Title}}</h2>
                {{end}}
            </div>
        </div>
    </section>
    </section>
    <section id="children" class="py-5">
        <div class="container">
            {{range $index, $val := .Site.Taxonomies.tags.environment}}
            <div class="row">
                <div class="col-md-8 mx-auto">
                    {{.Content}}
                </div>
            </div>
            {{end}}
        </div>
    </section>
    <div class="container">
        <h1 class="text-center mb-5">Gallery</h1>
        <div class="masonry">
            {{range $index, $val := .Site.Taxonomies.tags.environmentgal}}
            <div class="masonry-item">
                <a href="{{.Page.Params.Image}}" data-fancybox="gallery" aria-label="RCT Gallery">
                    <div class="masonry-content">
                        <img class="img-fluid" src="{{.Page.Params.Image}}" alt="{{.Title}}">
                    </div>
                </a>
            </div>
            {{end}}
        </div>
    </div>
    {{partial "footer" .}}
    {{partial "scripts" .}}
</body>
</html>