@import url('https://fonts.googleapis.com/css?family=Inria+Serif&display=swap');
body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Inria Serif', serif;
  color: #000
  /* padding-top: 10px */
}
html, body {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
p {
  line-height: 1.929;
  margin-bottom: 5px;
  text-align: justify
}
ul {
  margin-bottom: 2rem
}
li {
  letter-spacing: 0.7px;
  word-spacing: 1px;
  line-height: 1.929;
}
.parallax {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
}
.overlay {
  background: #0a0a0ab8;
  height: auto;
}
.parallax-overlay {
  background: #2c2c2c71;
  padding: 25rem 0rem 0rem;
}
a.hover {
  text-decoration: none;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown-item:hover>.dropdown-menu {
  display: block;
}
ul li {
  list-style-type: none;
  display: block;
}
.navbar-nav .nav-link {
  display: inline-block;
}
.ml-auto {
  display: inline-block!important;
}
.dropdown>.dropdown-toggle:active {
  pointer-events: none;
}
.dropdown-item:hover {
  background-color: #0e3e6e;
  color: #fff;
}
.dropdown-item {
  color: rgb(22, 22, 22);
}
.navbar {
  -webkit-transition: padding 0.2s ease;
  -moz-transition: padding 0.2s ease;
  -o-transition: padding 0.2s ease;
  transition: padding 0.5s ease;
  /* padding: 2rem 1.2rem; */
  z-index: 999;
}
.navbar-brand {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 2rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.2rem;
  font-family: "Playfair Display", serif;
  text-align: right;
  padding-right: 1rem;
}
.affix {
  -webkit-transition: padding 0.2s linear;
  -moz-transition: padding 0.2s linear;
  -o-transition: padding 0.2s linear;
  transition: padding 0.2s linear;
  background-color: rgb(14, 28, 92);
  padding: 0.5rem;
  z-index: 9999 !important;
}
.bg-nav {
  background-color: rgb(14, 28, 92);
}
.d {
  background-color: black;
}
.bg-rct {
  background-color: rgba(14, 28, 92, 0.842);
}
/* carousel */
.carousel-caption {
  bottom: 45%!important;
}
.carousel-caption h3 {
  line-height: 2.5rem;
}
.carousel-item .img-fluid {
  width: 100%;
  height: 100%;
}
.carousel-caption h1 {
  text-transform: uppercase;
}
.drk::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
}
@media (min-width: 768px) and (max-width:1024px) {
  .carousel-inner {
    height: 432px;
  }
  .carousel-caption {
    bottom: 30%!important
  }
}
@media (max-width: 768px) {
  .carousel-caption {
    bottom: 15%!important;
  }
  .carousel-caption h1 {
    font-size: 2rem;
  }
  .carousel-caption h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1rem;
  }
  .carousel-inner {
    height: 300px;
  }
  .carousel-item .img-fluid {
    height: 300px;
  }
  .carousel-caption {
    bottom: 5%!important;
  }
  .carousel-caption h1 {
    font-size: 1.5rem!important;
  }
  .carousel-caption h3 {
    font-size: 1rem!important;
    line-height: 1.5rem!important;
  }
}
.tab-content h5 {
  margin-top: 2rem;
  text-align: justify;
  line-height: 2rem;
}
.nav-link {
  font-size: 1.5rem;
}
.nav-item{
  display: inline;
}
.nav-item a {
  color: #2f4eda;
}
.btn-info {
  background-color: #0e1c5c;
  border-color: #0e1c5c;
}
.btn-info:hover {
  background-color: #203dc2;
  border-color: #0e1c5cb2;
}
.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show>.btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #0e1c5ca8;
}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
  background-color: #203ec2d7;
  border-color: #203ec2d7;
}
/* masonry */
.masonry {
  columns: 1;
  column-gap: 10px;
}
.masonry-item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    columns: 3;
  }
}
@media only screen and (min-width: 1024px) {
  .masonry {
    columns: 3;
  }
}
.masonry-item, .masonry-content {
  border-radius: 4px;
  overflow: hidden;
}
.masonry-item {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
  transition: filter .25s ease-in-out;
}
.masonry-item:hover {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.623));
}
.masonry-content {
  overflow: hidden;
}
.masonry-item {
  color: #ffffff;
  background-color: #0e125c;
}
.masonry-title, .masonry-description {
  margin: 0;
}
.masonry-title {
  font-weight: 700;
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
}
.masonry-description {
  padding: 1.5rem;
  font-size: .75rem;
  border-top: 1px solid rgba(255, 255, 255, .05);
}
.vh-80 {
  height: 80vh;
}
/* children page */
.child-intro {
  background-image: url("/images/child-intro.jpg");
}
.card {
  height: 100%;
}
.footer-area {
  background-color: #0d101d;
  padding: 100px 0px 20px;
}
label {
  color: #fff;
}
@media (max-width: 991px) {
  .footer-area {
    padding: 70px 0px 30px;
  }
}
.footer-area .form-control {
  background-color: transparent;
}
.footer-area .form-inline {
  position: relative;
}
.fa-facebook:hover {
  color: #3b5998;
}
@media (max-width: 991px) {
  .footer-area .single-footer-widget {
    margin-bottom: 30px;
  }
}
.footer-area .single-footer-widget p {
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #fff
}
.footer-area .single-footer-widget h4, .footer-area .single-footer-widget h2 {
  margin-bottom: 28px;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 1024px) {
  .footer-area .single-footer-widget h4 {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .footer-area .single-footer-widget h4 {
    margin-bottom: 15px;
  }
}
.footer-area .single-footer-widget ul li {
  margin-bottom: 10px;
}
.footer-area .single-footer-widget ul li a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 15px;
}
.footer-area .single-footer-widget ul li:last-child {
  margin-bottom: 0px;
}
.footer-area .single-footer-widget .form-wrap {
  margin-top: 25px;
}
.footer-area .single-footer-widget input {
  height: 50px;
  border: none;
  font-weight: 400;
  width: 100%;
  padding-left: 20px;
  border-radius: 0;
  font-size: 13px;
  border: 1px solid #dedede;
  font-family: "Roboto", sans-serif;
  border-radius: 3px;
}
.footer-area .footer_1 img {
  margin-bottom: 35px;
}
.footer-area .footer_1 p {
  margin-bottom: 15px;
}
.footer-area .footer_2 .social_icon {
  margin-top: 27px;
}
.footer-area .social_icon a {
  color: #fff;
  margin-right: 20px;
}
.footer-area .footer_2 .social_icon a:hover {
  color: #00c424;
}
.footer-area .footer_3 {
  width: 30%;
  float: left;
  margin: 1%;
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-area .footer_3 {
    width: 15%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-area .footer_3 {
    width: 10%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .footer-area .footer_3 {
    width: 10%;
  }
}
.footer-area .footer_3 .single_footer_img:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer-area .footer_3 i {
  text-align: center;
  position: absolute;
  top: 41%;
  margin: 0 auto;
  left: 0;
  right: 0;
  color: #fff;
  z-index: 2;
  opacity: 0;
}
.footer-area .footer_3 .single_footer_img:hover:after {
  opacity: 0.5;
}
.footer-area .footer_3 .single_footer_img:hover i {
  opacity: 1;
}
.footer-area .contact_info {
  position: relative;
  margin-bottom: 20px;
}
.footer-area .contact_info:last-child {
  margin-bottom: 0px;
}
.footer-area .contact_info p {
  margin-bottom: 15px;
}
.footer-area .contact_info p span {
  color: #999999;
  font-size: 16px;
  margin-right: 15px;
}
.footer-area .btn {
  border-color: #0e1c5c!important;
  color: #fff;
  width: 100%;
  height: auto;
  border-radius: 50px !important;
  padding: .5rem .75rem
}
.footer-area .btn:hover {
  background-color: #fff;
  color: #000;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.footer-area span.ti-heart {
  font-size: 12px;
  margin: 0px 2px;
}
.footer-area .copyright_part_text {
  padding-top: 26px;
  margin-top: 112px;
  border-top: 1px solid #262834;
}
.footer-area .copyright_part_text p {
  font-size: 1.2rem;
  color: #fff;
  text-align: center
}
@media (max-width: 576px) {
  .footer-area .copyright_part_text {
    margin-top: 20px;
    text-align: center;
  }
  .footer-area .copyright_part_text p {
    font-size: 13px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-area .copyright_part_text {
    text-align: center;
    margin-top: 20px;
  }
  .footer-area .copyright_part_text p {
    font-size: 13px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-area .copyright_part_text {
    margin-top: 42px;
    text-align: center;
  }
}
.footer-area ::placeholder {
  font-size: 13px;
  color: #999;
}
.footer-area .info {
  color: #00c424;
}
.footer-area .container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  overflow: hidden;
}
.footer-area .btn_1 {
  margin-top: 0px;
}
.form-control:focus {
  color: #fff;
  background-color: #80bdff4b;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0px 1px 5px 1px #fff;
}
.fa {
  margin-right: 0.5rem;
  font-size: 1.5rem!important;
}
.single {
  padding-top: 2.5rem;
  margin: 3rem 0rem 3rem 0rem;
}
#children img {
  max-width: 100%;
  height: auto;
  margin: 1rem 0rem 2rem;
}
#children h2 {
  margin-top: 2rem;
}
#children blockquote, #youth blockquote, #health blockquote {
  padding: 30px 50px 30px 30px;
  border-left: 5px solid #00c424;
  font-size: 1.1rem;
}
#children p, #youth p, #health p, #about p, #legal p {
  margin-bottom: 1rem;
}
.elder-intro {
  background-image: url("/images/elder.jpg");
}
.envion-intro {
  background-image: url("/images/environ_bg.jpg");
}
.women-intro {
  background-image: url("/images/women_bg.jpg");
}
.youth-intro {
  background-image: url("../images/youth_bg.jpg");
}
#legal {
  background-image: url("../images/legal-bg.jpg");
}
#legal h2 {
  text-align: center;
}
#legal h4 {
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: .1em;
}
#legal ol {
  margin-bottom: 2rem
}
#children ul li, #youth ul li, #health ul li, #about ul li, #legal ul li {
  position: relative;
  padding-bottom: 10px;
  display: block;
}
#children li, #youth li, #health li, #about li {
  padding-left: 0.5rem;
}
#children ul, #youth ul, #health ul, #about ul {
  list-style: none;
}
#children ul li:before, #youth ul li:before, #health ul li:before, #about ul li:before {
  content: "";
  position: absolute;
  border-right: 2px solid rgb(201, 181, 181);
  border-bottom: 2px solid black;
  box-shadow: 0px 0px 3px 1px #000;
  width: 10px;
  height: 10px;
  top: 15px;
  left: -20px;
  transform: translateY(-50%) rotate(-45deg);
}
#about ul li:before {
  box-shadow: 0px 0px 10px 3px #fff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: rgb(226, 226, 255);
  border-color: #dee2e6 #dee2e6 #fff;
}
.tab-content>.active {
  background-color: rgb(226, 226, 255);
  padding: 1rem;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: rgb(226, 226, 255);
}

.fa-heart{
  margin-right: 0rem;
}