<!DOCTYPE html>
<html lang="en">
{{partial "head" .}}

<body>
    {{partial "header" .}}
    {{block "banner".}}
    {{end}}
    {{block "projects".}}
    {{end}}
    {{block "volunteer".}}
    {{end}}
    {{block "about".}}
    {{end}}
    {{block "donate".}}
    {{end}}
    {{block "strength".}}
    {{end}}
   
    
      
    
    {{partial "footer" .}}
    
    {{partial "scripts" .}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script>
    $(document).ready(function(){
    $('.customer-logos').slick({
        slidesToShow: 6,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1500,
        arrows: false,
        dots: false,
        pauseOnHover: false,
        responsive: [{
            breakpoint: 768,
            settings: {
                slidesToShow: 4
            }
        }, {
            breakpoint: 520,
            settings: {
                slidesToShow: 3
            }
        }]
    });
});
</script>

</body>

</html>