{{ define "carousel" }}
<div class="container-fluid p-0">
    <div id="my-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li class="active" data-target="#my-carousel" data-slide-to="0" aria-current="location"></li>
            <li data-target="#my-carousel" data-slide-to="1"></li>
            <li data-target="#my-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item text-center active">
                <img class="d-block w-100" src="/images/slide1.jpg" alt="">
                <div class="carousel-caption">
                    <h4>CSR</h4>
                    <p>Donate us</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/images/slide2.jpg" alt="">
                <div class="carousel-caption">
                    <h4>Child development</h4>
                    <p>Donate us</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/images/slide3.jpg" alt="">
                <div class="carousel-caption">
                    <h4>Women Empowerment</h4>
                    <p>Donate us</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
{{define "banner"}}
<section class="banner parallax">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 offset-lg-6">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>Real Charitable Trust</h1>
                        <h2 class="text-light">Bless others with
                            your gift</h2>
                        <p>Fish isn't thing there a god whales fruit gathering the second so
                            third beginning open multiply in land multiply Saw saw lesser tree
                            fom image his made heaven.</p>
                        <a href="#" class="btn btn-info btn2 mt-3">Start Donation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}
{{define "projects"}}
<section id="projects" class="feature_part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section_tittle text-center">
                    <h2>Our Projects</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-sm-6">
                    <a href="#">
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <div class=" d-flex align-items-center">
                                    <img src="/images/feature_1.svg" alt="">
                                    <h4>Children Development Activities</h4>
                                </div>
                                <p>Empower the children in distress and difficult situation through Non-Formal Education,
                                    evening tuition centres and sports club.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <a href="#">
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <div class=" d-flex align-items-center">
                                    <img src="/images/feature_2.svg" alt="">
                                    <h4>Youth Development Activities</h4>
                                </div>
                                <p>Educate the youth for taking up the role of leadership in society through carrier
                                    guidance and leadership training programmes.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <a href="#">
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <div class=" d-flex align-items-center">
                                    <img src="/images/feature_3.svg" alt="">
                                    <h4>Women Empowerment Programmes</h4>
                                </div>
                                <p>Facilitate the women to be empowered through the formation of self-help groups and
                                    women's rights education and safety and entrepreneurial training.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <a href="#">
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <div class=" d-flex align-items-center">
                                    <img src="/images/feature_4.svg" alt="">
                                    <h4>Environmental Development Activities</h4>
                                </div>
                                <p>Promoting community health and clean environment through solid waste management and
                                    health-related programmes for ensuring healthy living.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</section>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-8">
            <div class="section_tittle text-center">
                {{range $index, $val := .Site.Taxonomies.tags.projects}}
                <a href="{{$val.Page.Permalink}}" class="btn btn-info btn2 mt-3">Read more</a>
                {{end}}
            </div>
        </div>
    </div>
</div>
{{end}}


{{define "volunteer"}}
<section id="volunteer" class="intro_video_bg parallax">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="text-center">
                    <h2>Forget what you can get and
                        see what you can give</h2>
                    <a href="#" class="btn btn-info btn2">Become a Volunteer</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::volunteers_part-->
<section class="volunteers_part py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section_tittle text-center">
                    <p>volunteers</p>
                    <h2>Expert Volunteers</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/images/volunteers_1.png" alt="doctor">
                        <div class="social_icon">
                            <a href="#"> <i class="fab fa-facebook"></i> </a>
                            <a href="#"> <i class="fab fa-twitter"></i> </a>
                            <a href="#"> <i class="fab fa-instagram"></i> </a>
                            <a href="#"> <i class="fab fa-skype"></i> </a>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>David Phillips</h3>
                            <p>Project Manager</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/images/volunteers_2.png" alt="doctor">
                        <div class="social_icon">
                            <a href="#"> <i class="fab fa-facebook"></i> </a>
                            <a href="#"> <i class="fab fa-twitter"></i> </a>
                            <a href="#"> <i class="fab fa-instagram"></i> </a>
                            <a href="#"> <i class="fab fa-skype"></i> </a>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>Lindsa Rudolph</h3>
                            <p>Field Supervisor</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/images/volunteers_3.png" alt="doctor">
                        <div class="social_icon">
                            <a href="#"> <i class="fab fa-facebook"></i> </a>
                            <a href="#"> <i class="fab fa-twitter"></i> </a>
                            <a href="#"> <i class="fab fa-instagram"></i> </a>
                            <a href="#"> <i class="fab fa-skype"></i> </a>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>Samuel Gardner</h3>
                            <p>Co Founder</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/images/volunteers_4.png" alt="doctor">
                        <div class="social_icon">
                            <a href="#"> <i class="fab fa-facebook"></i> </a>
                            <a href="#"> <i class="fab fa-twitter"></i> </a>
                            <a href="#"> <i class="fab fa-instagram"></i> </a>
                            <a href="#"> <i class="fab fa-skype"></i> </a>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>Lindsa Rudolph</h3>
                            <p>Field Supervisor</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}
{{define "about"}}
<section id="about" class="be_part parallax">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6">
                <div class="be_part_text">
                    <h2>Vision</h2>
                    <p>Vision of the Real Charitable Trust is to protect the human with all rights and human dignity
                        through basic education and humanistic service to the orphan, children, youth, women and aged
                        persons in difficult circumstances and in distress in rural and urban. Secondly focused on
                        protecting the environment, our Mother earth through solid waste management programmes, guarding
                        nature with the planting and controlling pollution by awareness programmes.</p>
                    <a href="{{.Site.BaseURL}}about/home/" class="btn btn-info btn2">learn more</a>
                </div>
            </div>
        </div>
    </div>
    <img src="/images/Charity.jpg" alt="" class="be_img">
</section>
<!-- <section class="py-4">
    <div class="container p-3">
        <div class="row">
            <div class="col-md-6">
                <h2>Mission</h2>
                    <ul>
                            <li>Enhancing the people for sustainable development through community mobilization and organization  </li>
                            <li>Empowering the children in distress and difficult situation through Non-Formal Education, evening tuition centres and sports club.</li>
                            <li>Educate the youth for taking up the role of leadership in society through carrier guidance and leadership training programmes</li>
                            <li>Facilitating women to be empowered through the formation of self-help groups and women's rights education and safety and entrepreneurial training. </li>
                            <li>Promoting community health and cleanliness through solid waste management and health-related programmes for ensuring healthy living.</li>
                        </ul>
            </div>
        </div>
    </div>
</section> -->
{{end}}
{{define "gallery"}}

{{end}}
{{define "strength"}}
<section id="strength" class="py-5" style="background-color: rgba(128, 255, 0, 0.39)">
    <div class="container mb-5">
        <div class="row">
            <div class="col-sm-12">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <h2 class="text-center mb-5">Customer Testimonials</h2>
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="testimonial">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor,
                                            varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel,
                                            semper malesuada ante.</p>
                                    </div>
                                    <div class="media">
                                        <div class="media-left d-flex mr-3">
                                            <img src="/examples/images/clients/1.jpg" alt="">
                                        </div>
                                        <div class="media-body">
                                            <div class="overview">
                                                <div class="name"><b>Paula Wilson</b></div>
                                                <div class="details">Media Analyst / SkyNet</div>
                                                <div class="star-rating">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="testimonial">
                                        <p>Vestibulum quis quam ut magna consequat faucibu. Eget mi suscipit tincidunt.
                                            Utmtc tempus dictum. Pellentesque virra. Quis quam ut magna consequat
                                            faucibus quam.</p>
                                    </div>
                                    <div class="media">
                                        <div class="media-left d-flex mr-3">
                                            <img src="/examples/images/clients/2.jpg" alt="">
                                        </div>
                                        <div class="media-body">
                                            <div class="overview">
                                                <div class="name"><b>Antonio Moreno</b></div>
                                                <div class="details">Web Developer / SoftBee</div>
                                                <div class="star-rating">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="testimonial">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor,
                                            varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel,
                                            semper malesuada ante.</p>
                                    </div>
                                    <div class="media">
                                        <div class="media-left d-flex mr-3">
                                            <img src="/examples/images/clients/3.jpg" alt="">
                                        </div>
                                        <div class="media-body">
                                            <div class="overview">
                                                <div class="name"><b>Michael Holz</b></div>
                                                <div class="details">Web Developer / DevCorp</div>
                                                <div class="star-rating">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="testimonial">
                                        <p>Vestibulum quis quam ut magna consequat faucibu. Eget mi suscipit tincidunt.
                                            Utmtc tempus dictum. Pellentesque virra. Quis quam ut magna consequat
                                            faucibus quam.</p>
                                    </div>
                                    <div class="media">
                                        <div class="media-left d-flex mr-3">
                                            <img src="/examples/images/clients/4.jpg" alt="">
                                        </div>
                                        <div class="media-body">
                                            <div class="overview">
                                                <div class="name"><b>Mary Saveley</b></div>
                                                <div class="details">Graphic Designer / MarsMedia</div>
                                                <div class="star-rating">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="testimonial">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor,
                                            varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel,
                                            semper malesuada ante.</p>
                                    </div>
                                    <div class="media">
                                        <div class="media-left d-flex mr-3">
                                            <img src="/examples/images/clients/5.jpg" alt="">
                                        </div>
                                        <div class="media-body">
                                            <div class="overview">
                                                <div class="name"><b>Martin Sommer</b></div>
                                                <div class="details">SEO Analyst / RealSearch</div>
                                                <div class="star-rating">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="testimonial">
                                        <p>Vestibulum quis quam ut magna consequat faucibu. Eget mi suscipit tincidunt.
                                            Utmtc tempus dictum. Pellentesque virra. Quis quam ut magna consequat
                                            faucibus quam.</p>
                                    </div>
                                    <div class="media">
                                        <div class="media-left d-flex mr-3">
                                            <img src="/examples/images/clients/6.jpg" alt="">
                                        </div>
                                        <div class="media-body">
                                            <div class="overview">
                                                <div class="name"><b>John Williams</b></div>
                                                <div class="details">Web Designer / UniqueDesign</div>
                                                <div class="star-rating">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    

<div class="container">
        <h2 class="text-center mb-5">Our  Partners/ Our Clients</h2>
         <section class="customer-logos slider">
            <div class="slide"><img src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg"></div>
            <div class="slide"><img src="http://www.webcoderskull.com/img/logo.png"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/retro-label-on-rustic-background_82147503374.jpg"></div>
         </section>
</div>
         
</section>
{{end}}

{{define "donate"}}
<section id="donate" class="py-5">
    <div class="container">
            <h2 class="text-center mb-5">Donate us</h2>
        <div class="row">
            
            <div class="col-md-4">

                <div class="card">
                    <a href="#">
                        <img class="card-img-top" src="/images/card-1.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Donate for Children's Education</h5>
                            <p class="card-text">Content</p>
                        </div>
                    </a>
                </div>

            </div>
            <div class="col-md-4">

                    <div class="card">
                        <a href="#">
                            <img class="card-img-top" src="/images/card-2.jpg" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Donate for rural health programmes</h5>
                                <p class="card-text">Content</p>
                            </div>
                        </a>
                    </div>
    
                </div>
                <div class="col-md-4">

                        <div class="card">
                            <a href="#">
                                <img class="card-img-top" src="/images/card-3.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">Donate for elderly people</h5>
                                    <p class="card-text">Content</p>
                                </div>
                            </a>
                        </div>
        
                    </div>

        </div>
    </div>
</section>
{{end}}

