{{ define "carousel" }}
<style>
    .carousel-fade .carousel-inner .carousel-item {
        transition: -webkit-transform 10s ease;
        transition: transform 10s ease;
        transition: transform 10s ease,
            -webkit-transform 10s ease;
    }
</style>
<div id="carouselId" class="carousel slide" data-ride="carousel" data-interval="10000">
    <ol class="carousel-indicators d-none d-md-inline-flex">
        {{range $index, $val := .Site.Taxonomies.tags.slider}}
        <li data-target="#carouselId" data-slide-to="{{$index}}"></li>
        {{end}}
    </ol>
    <div class="carousel-inner carousel-fade">
        {{range $index, $val := .Site.Taxonomies.tags.slider}}
        {{if (eq $index 0)}}
        <div class="carousel-item drk active">
            {{ else }}
            <div class="carousel-item drk">
                {{ end }}
                <img class="d-block img-fluid" src="{{.Page.Params.Image}}" alt="{{.Title}}">
                <div class="carousel-caption d-md-block">
                    <h1 class="animated fadeInDown slow">{{.Page.Title }}</h1 c>
                    <h3 class="animated fadeInUp slow delay-2s">{{.Summary}}</h3 class="animated fadeInDown slow">
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<script>
    $(document).ready(function () {
        jQuery.fn.carousel.Constructor.TRANSITION_DURATION = 10000  // 10 seconds
    })
</script>
{{end}}
{{define "about"}}
<section id="about" class="py-5 mt-5">
    <div class="container">
        {{range $index, $val := .Site.Taxonomies.tags.about}}
        <div class="row">
            <div class="col-md-6 col-sm-6" data-aos="fade-down" data-aos-duration="1000">
                <h1>{{.Title}}</h1>
                <p>{{.Summary}}</p>
                <a href="{{ .RelPermalink }}" class="btn btn-info">Read more</a>
            </div>
            <div class="col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="1500">
                <img src="{{.Page.Params.Image}}" alt="" class="img-fluid rounded-circle">
            </div>
        </div>
        {{end}}
        <hr size="3" noshade>
    </div>
</section>
{{end}}
{{define "projects"}}
<section id="projects" class="py-5">
    <div class="container">
        <h1 class="text-center">Projects</h1>
        <ul class="nav nav-tabs  nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="children" data-toggle="tab" href="#children-tab" role="tab"
                    aria-controls="children" aria-selected="true">children</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="elder" data-toggle="tab" href="#elder-tab" role="tab" aria-controls="elder"
                    aria-selected="false">Elderly care</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="environment" data-toggle="tab" href="#environment-tab" role="tab"
                    aria-controls="environment" aria-selected="false">Environment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="women" data-toggle="tab" href="#women-tab" role="tab" aria-controls="women"
                    aria-selected="false">women</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="youth" data-toggle="tab" href="#youth-tab" role="tab" aria-controls="youth"
                    aria-selected="false">Youth</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="children-tab" role="tabpanel" aria-labelledby="children">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Every child has the right to good education and health. The future of a nation mainly
                            depends on the Gross National Happiness which is proportionate to the growth and development
                            of children.<br>Charitable Trust focusses on nurturing the personal and social life of
                            children. The goal is to provide equal rights to every child without any social, economic
                            and religious differences. RCT served more than 1500 children in and around the slums of
                            Chennai.
                        </h5>
                        <a href="{{.Site.BaseURL}}children-development-projects/home/" class="btn btn-info">Read more</a>
                    </div>
                    <div class="col-md-6">
                        <img class="img-fluid" src="/images/7-children.jpg" alt="health">
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="elder-tab" role="tabpanel" aria-labelledby="elder">
                <div class="row">
                    <div class="col-md-6">
                        <h5>We feel that today’s generation has better compassion and respect for the elders, than their
                            previous generation which witnessed a lot of financial and family hurdles forcing them to
                            leave elders at old age homes or alone. If you take social media and cinema, youngsters
                            share a lot of useful thoughts and messages about caring elders. We at RCT, has given old
                            age homes, not just for accommodation and food, but also to enable to join with their
                            families again, provide employment, healthcare and complete rehabilitation.</h5>
                            <a href="{{.Site.BaseURL}}elderly-care-projects/home/" class="btn btn-info">Read more</a>
                    </div>
                    <div class="col-md-6">
                        <img class="img-fluid" src="/images/17-elder.jpg" alt="elder">
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="environment-tab" role="tabpanel" aria-labelledby="environment">
                <div class="row">
                    <div class="col-md-6">
                        <h5>RCT aims to create a clean and green environment. The projects are hygiene improvement,
                            afforestation, Solid Waste Management, Say NO to plastics, building proper Sanitation
                            facilities, etc. We work with government and NGOs create a litter-free and hygienic
                            environment. The objective is to Reduce, Reuse and Recycle.</h5>
                            <a href="{{.Site.BaseURL}}environmental-protection-projects/home/" class="btn btn-info">Read more</a>
                    </div>
                    <div class="col-md-6">
                        <img class="img-fluid" src="/images/environment_28.jpg" alt="environment">
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="women-tab" role="tabpanel" aria-labelledby="women">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Women empowerment projects encourage them to improve their livelihood. We have formed Self
                            Help Groups (SHG) for women to be independent. Empowering women is everyone’s basic duty and
                            we appeal to everyone who is reading this to take care of the women in your family and give
                            your love, time, energy and financial freedom for them. When women in your family live
                            happily, the society grows and so does a Nation.<br>Our trust supports women to live with
                            dignity. We create awareness about the importance of education to them and their children.
                            The SHG takes care of their financial need by training them with small business
                            opportunities. LIC gives every woman their basic insurance needed to live peacefully.
                        </h5>
                        <a href="{{.Site.BaseURL}}women-empowerment-projects/home/" class="btn btn-info">Read more</a>
                    </div>
                    <div class="col-md-6">
                        <img class="img-fluid" src="/images/women_8.jpg" alt="women">
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="youth-tab" role="tabpanel" aria-labelledby="youth">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Tapping the potentials of youth force is very crucial for the holistic development of the
                            Nation. RCT works with the youth of the Nation who are in need of quality education, skills
                            development, health, personality development, etc. The trust educates the youth for taking
                            up major social and entrepreneurial roles in the society through carrier guidance and
                            leadership training programs.<br>Our trust is dedicated to imparting moral values, ethics,
                            skills, etc. so that they become socially responsible citizens. More than 2500 youths are
                            benefited every year.</h5>
                            <a href="{{.Site.BaseURL}}youth-development-projects/home/" class="btn btn-info">Read more</a>
                    </div>
                    <div class="col-md-6">
                        <img class="img-fluid" src="/images/youth_4.jpg" alt="youth">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}
{{define "gallery"}}
<section id="gallery1" class="py-5">
    <div class="container">
        <h1 class="text-center">Gallery</h1>
        <div class="masonry">
            {{range $index, $val := .Site.Taxonomies.tags.gallery}}
            <div class="masonry-item">
                <a href="{{.Page.Params.Image}}" data-fancybox="gallery" aria-label="RCT Gallery">
                    <div class="masonry-content">
                        <img class="img-fluid" src="{{.Page.Params.Image}}" alt="{{.Title}}">
                        <h3 class="masonry-title">{{.Title}}</h3>
                        <p class="masonry-description">{{.Summary}}</p>
                    </div>
                </a>
            </div>
            {{end}}
        </div>
    </div>
</section>
{{end}}
{{define "volunteer"}}
<section id="volunteer" class="intro_video_bg parallax">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="text-center">
                    <h2>Forget what you can get and
                        see what you can give</h2>
                    <a href="#" class="btn btn-info btn2">Become a Volunteer</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}

{{define "strength"}}
<section id="strength" class="py-5" style="background-color: rgba(128, 255, 0, 0.39)">
</section>
{{end}}
{{define "donate"}}
<section id="donate" class="py-5">
    <div class="container">
        <h2 class="text-center mb-5">Donate us</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top" src="/images/card-1.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Donate for Children's Education</h5>
                            <p class="card-text">Content</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top" src="/images/card-2.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Donate for rural health programmes</h5>
                            <p class="card-text">Content</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top" src="/images/card-3.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Donate for elderly people</h5>
                            <p class="card-text">Content</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}