<!DOCTYPE html>
<html lang="en">
{{partial "head" .}}
<body>
    {{partial "header-single" .}}
    <section class="about-intro parallax">
        <div class="overlay">
            <div class="container">
                {{range $index, $val := .Site.Taxonomies.tags.about}}
                <h2 class="text-center pb-3">{{.Title}}</h2>
                {{end}}
            </div>
        </div>
    </section>
    <section id="about" class="mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    {{.Content}}
                </div>
            </div>
        </div>
    </section>
    {{partial "footer" .}}
    {{partial "scripts" .}}
</body>
</html>