<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <h4 class="text-uppercase mb-2">Links</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{.Site.BaseURL}}about/home/" aria-label="about page link of RCT">About</a>
                    </li>
                </ul>
                <h4 class="my-2">Projects</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{.Site.BaseURL}}children-development-projects/home/"
                            aria-label="children development projects link">Children Development</a>
                    </li>
                    <li>
                        <a href="{{.Site.BaseURL}}elderly-care-projects/home/"
                            aria-label="elderly care projects link">Elderly care</a>
                    </li>
                    <li>
                        <a href="{{.Site.BaseURL}}environmental-protection-projects/home"
                            aria-label="environmental-protection projects link">Environmental Protection</a>
                    </li>
                    <li>
                        <a href="{{.Site.BaseURL}}women-empowerment-projects/home/"
                            aria-label="women-empowerment-projects link">Women Empowerment</a></li>
                    <li>
                        <a href="{{.Site.BaseURL}}youth-development-projects/home/"
                            aria-label="Youth development projects link">Youth Development</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12">
                <h4 class="text-uppercase mb-2">Reach us</h4>
                <address>
                    <i class="fa fa-map-marker mr-2" aria-hidden="true"></i>
                    <b>Office Address:</b><br>
                    # 297, 4th Street,<br>
                    Damodaran Nagar, Vyasarpadi,<br>
                    Chennai, TN-600 039.
                </address>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <i class="fa fa-phone mr-2" aria-hidden="true"></i>
                        <a href="tel:+9710394002" aria-label="RCT contact number" title="Click to call">+91-9710394002</a>
                    </li>
                    <li class="mb-2">
                        <i class="fa fa-envelope mr-2"></i><a href="mailto:realcharitabletrust07@gmail.com"
                            aria-label="RCT email id"  title="Click to send email" target="_top">realcharitabletrust07@gmail.com</a>
                    </li>
                </ul>
                <div class="social mt-3">
                    <ul class="list-unstyled d-flex">
                        <li class="mr-3">
                            <a href="https://www.facebook.com/Rct-Real-Charitable-Trust-2101107163546467/?ref=br_rs"
                                target="_blank" rel="noopener" aria-label="fb page of RCT"><i
                                    class="fa fa-facebook"></i></a>
                        </li class="mr-3">
                        <li>
                            <a href="https://goo.gl/maps/sBk3aspfScrEz7am7" target="_blank" rel="noopener"
                                aria-label="google business page link of RCT" title="find location in google business page"><i class="fa fa-google"
                                    aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="col-lg-4 col-md-12">
                <h4 class="text-uppercase mb-3">Write to us</h4>
                <form name="contact" method="POST" data-netlify="true" data-netlify-recaptcha="true">
                    <div class="form-group">
                        <label style="text-align:left">Name</label>
                        <input type="text" class="form-control" name="Name" placeholder="Enter your name"
                            aria-label="Name" required>
                    </div>
                    <div class="form-group">
                        <label>Contact #</label>
                        <input type="tel" class="form-control" name="Contact #" placeholder="your 10 digit mobile no."
                            aria-label="contact_no" minlength="10" maxlength="10" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" name="Email id" placeholder="abc@somemail.com"
                            aria-label="e_mail_address" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control" name="Message" placeholder="Enter your message" rows="2"
                            aria-label="message" spellcheck="false" required></textarea>
                    </div>
                    <div data-netlify-recaptcha="true" class="recaptcha mx-auto"></div>
                    <input type="submit" class="btn btn-info btn-block mt-3" value="Submit" aria-label="Submit button">
                </form>
            </div>
        </div>
    </div>
</section>
<section class="bottom-footer">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-8 mx-auto align-self-center">
                <p>Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>&nbsp;Real Charitable Trust<br>Made
                    with&nbsp;<i class="fa fa-heart mr-2" aria-hidden="true"></i>by <a href="https://www.tensketch.com/ " title="website developer link" aria-label="website developer link" target="_blank" rel="noopener">TenSketch</a></p>
            </div>
        </div>
    </div>
</section>