<nav class="navbar navbar-dark fixed-top navbar-expand-sm">
    <a class="navbar-brand"><img src="/images/logo.png" alt="logo"></a>
    <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav  mx-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#volunteer">Volunteer</a>
                </li>
            <li class="nav-item">
                    <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                    <li class="nav-item">
                    
                <a class="nav-link" href="#testimonials">Testimonials</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#donate">Donate</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
            
            
                <a class="btn btn-info btn1" href="#join">Join us</a>
            </li>
        </ul>
    </div>
</nav>