<nav class="navbar navbar-dark fixed-top navbar-expand-lg">
    <div class="container">
        <a href="{{.Site.BaseURL}}" class="navbar-brand">Real Charitable Trust</a>
        <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{.Site.BaseURL}}about/home/" aria-label="about section link">About</a>
                </li>
                <li class="nav-item dropdown dmenu">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Projects</a>
                    <div class="dropdown-menu sm-menu">
                        <a class="dropdown-item" href="{{.Site.BaseURL}}children-development-projects/home/"
                            aria-label="children development projects link">Children Development</a>
                        <a class="dropdown-item" href="{{.Site.BaseURL}}elderly-care-projects/home/"
                            aria-label="elderly care projects link">Elderly care</a>
                        <a class="dropdown-item" href="{{.Site.BaseURL}}environmental-protection-projects/home"
                            aria-label="environmental-protection projects link">Environmental Protection</a>
                        <a class="dropdown-item" href="{{.Site.BaseURL}}women-empowerment-projects/home/"
                            aria-label="women-empowerment-projects link">Women Empowerment</a>
                        <a class="dropdown-item" href="{{.Site.BaseURL}}youth-development-projects/home/"
                            aria-label="Youth development projects link">Youth Development</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact" aria-label="contact section link">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tel:+919710394002" aria-label="RCT contact number">
                        <i class="fa fa-mobile mr-2" aria-hidden="true"></i>91-9710394002
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>