<nav class="navbar navbar-dark fixed-top navbar-expand-lg">
    <a href="{{.Site.BaseURL}}" class="navbar-brand">Real Charitable Trust</a>
    <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#about" aria-label="about section link">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#projects" aria-label="Projects section link">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#gallery1" aria-label="Gallery section link">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact" aria-label="contact section link">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="tel:+919710394002" aria-label="RCT contact number">
                    <i class="fa fa-mobile mr-2" aria-hidden="true"></i>91-9710394002
                </a>
            </li>
        </ul>
    </div>
</nav>