<nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-sm">
    <a href="{{.Site.BaseURL}}" class="navbar-brand"><img src="/images/logo.png" alt="logo"></a>
    <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="#projects">Projects</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#volunteer">Volunteer</a>
            </li> -->
            <li class="nav-item">
            <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#gallery">Gallery</a>
                </li>
            <li class="nav-item">
                <a class="nav-link" href="#strength">Our Strength</a>
            </li>
            <li class="nav-item dropdown dmenu">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Support us
                </a>
                <div class="dropdown-menu sm-menu">
                  <a class="dropdown-item" href="#">Donate us</a>
                  <a class="dropdown-item" href="#">Volunteer</a>
                  <a class="dropdown-item" href="#">Join us</a>
                </div>
                
              </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#donate">Donate</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="#footer">Contact</a>
            <!-- </li>
            <a class="btn btn-info btn1" href="#join">Join us</a>
            </li> -->
        </ul>
    </div>
</nav>