<script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
>


<!-- navbar shrink on scroll -->
<script>
    $(window).scroll(function() {
  if ($(document).scrollTop() > 100) {
    $('.navbar').addClass('affix');
  } else {
    $('.navbar').removeClass('affix');
  }
});
</script>
<script>
    $(window).scroll(function() {
  if ($(document).scrollTop() > 100) {
    $('.navbar').addClass('animated fadeInDown');
  } else {
    $('.navbar').removeClass('animated fadeInDown');
  }
});
</script> 
