<!DOCTYPE html>
<html lang="en">
{{partial "head" .}}

<body>
    {{partial "header-single" .}}
    <section id="legal" class="py-5 mt-5">
        
            <div class="container">
                <div class="row justify-content-center">
                    {{range $index, $val := .Site.Taxonomies.tags.legal}}
                    
                    <div class="col-md-8 mx-auto">
                            <!-- <h2>{{.Title}}</h2> -->
                        {{.Content}}
                    </div>
                    {{end}}
                </div>
            
        </div>
    </section>
    {{partial "footer" .}}
    {{partial "scripts" .}}
</body>

</html>